<section id="main-slider" class="no-margin">
    <div class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#main-slider" data-slide-to="0" class="active"></li>
        <li data-target="#main-slider" data-slide-to="1"></li>
        <li data-target="#main-slider" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(images/slider/bg1.jpg)">
          <div class="container">
            <div class="row slide-margin">
              <div class="col-sm-12">
                <div class="carousel-content">
                  <h1>Welcome to <span class="logo"><i class="fa fa-coffee"></i> API Demo</span></h1>
                  <h2>Brief demonstration of Angular Services</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.item-->
        
        <div class="item" style="background-image: url(images/slider/bg2.jpg)">
          <div class="container">
            <div class="row slide-margin">
              <div class="col-sm-12">
                <div class="carousel-content">
                  <h1><a routerLink="/employees">Employee Directory</a></h1>
                  <h2>Click here to view employee directory.</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.item-->
        
        <div class="item" style="background-image: url(images/slider/bg3.jpg)">
          <div class="container">
            <div class="row slide-margin">
              <div class="col-sm-12">
                <div class="carousel-content">
                  <h1><a routerLink="/positions">Positions</a></h1>
                  <h2>Click here to view positions within our organization.</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/.item--> 
      </div>
      <!--/.carousel-inner--> 
    </div>
    <!--/.carousel--> 
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev"> <i class="fa fa-chevron-left"></i> </a> <a class="next hidden-xs" href="#main-slider" data-slide="next"> <i class="fa fa-chevron-right"></i> </a> </section>
  <!--/#main-slider-->
  <div class="color-border"> </div>
  <section id="feature" >
    <div class="container">
      <div class="center">
        <h2>Featured Services</h2>
        <p class="lead">Services we are pleased to provide.</p>
      </div>
      <div class="row">
        <div class="features">
          <div class="col-md-6 col-sm-6">
            <div class="feature-wrap"><a routerLink="/employees"><i class="fa fa-user"></i></a>
              <h2>Employees</h2>
              <h3>Detailed Employee directory.</h3>
            </div>
          </div>
          <!--/.col-md-6-->
          
          <div class="col-md-6 col-sm-6">
            <div class="feature-wrap"><a routerLink="/positions"><i class="fa fa-info-circle"></i></a>
              <h2>Positions</h2>
              <h3>Detailed position information (title, description, and salary).</h3>
            </div>
          </div>
          <!--/.col-md-6-->
        </div>
        <!--/.services--> 
      </div>
      <!--/.row--> 
    </div>
    <!--/.container--> 
  </section>
  <!--/#feature-->