<div class="center">
    <h2>Employees</h2>
    <p class="lead">Directory of all employees within our organization.</p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <input class="form-control" id="EmployeeSearch" name="EmployeeSearch" type="text" placeholder="Search Employees by Full Name or Position" (keyup)="onEmployeeSearchKeyUp($event)" /><br />
        <div class="table-responsive">
          <table class="table table-condensed table-hover">
          <thead>
            <th>Full Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Hire Date</th>
          </thead>
          <tbody>
            <tr *ngFor="let e of filteredEmployees" (click)="routeEmployee(e._id)" [hidden]="hidden">
                <td>{{e.FirstName}} {{e.LastName}}</td>
                <td>{{e.AddressStreet}}. {{e.AddressCity}}, {{e.AddressState}}. {{e.AddressZip}}.</td>
                <td>{{e.PhoneNum}} ext: {{e.Extension}}</td>
                <td>{{e.HireDate | date:'longDate'}}</td>
            </tr>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
